# binaries
/bin
/tools/bin
/dist

# generated code
/gen

# test results
/test-result.xml

# dependencies
go.work.sum

# at some point we might want to commit this so that rig can be installed via
# kustomize
/deploy/kustomize

# editor specifics
.vscode
!/.vscode/settings.json
