# binaries
/bin
/tools/bin
/dist

# generated code
/gen/*
!/gen/mocks

# test results
/test-result.xml
/cover.out

# dependencies
go.work.sum

# helm charts
deploy/charts/*/Chart.lock
deploy/charts/*/charts

# at some point we might want to commit this so that rig can be installed via
# kustomize
/deploy/kustomize

# editor specifics
.vscode
!/.vscode/settings.json

# task cache
/.task

gen/uncommittedmocks
