.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: none;
  border: 1px solid var(--ifm-color-emphasis-200);

  background-color: var(--ifm-color-emphasis-100);

  margin-right: 0;
  margin-left: 0;


  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
}

.cardContainer:hover {
  border-color: var(--ifm-color-emphasis-600);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-weight: 00 !important;
  font-size: 16px !important;
  color: var(--ifm-color-primary);
}

.cardDescription {
  font-weight: 400 !important;
  font-size: 14px !important;
  color: var(--ifm-color-emphasis-600);
}

.cardIcon {
  margin-bottom: 10px;
}
