image:
  repository: ghcr.io/rigdev/rig-platform
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

rbac:
  # Specifies whether the ClusterRole and ClusterRoleBinding should be created
  create: true

rollout: ""

podSecurityContext:
  {}
  # fsGroup: 2000

securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

port: 4747

loadBalancer:
  enabled: false
  nodePort: 30047

ingress:
  enabled: false
  host: ""
  annotations: {}

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, override the `null`s
  # in the following section.
  cpu:
    limit: null
    request: null
  memory:
    limit: null
    request: null

instances:
  min: 1
  max: 1
  autoscaling:
    enabled: false
    cpuUtilization: 80

nodeSelector: {}

tolerations: []

affinity: {}

postgres:
  # enables development postgres instance. When this is set we will also setup
  # the required database connection configuration.
  enabled: false
  image:
    repository: postgres
    tag: 16
    pullPolicy: IfNotPresent
  resources: {}
  storage:
    className: ""
    size: 10Gi
  mountPath: "/var/lib/postgresql/data"

# Wether or not to load secret parts of the configuration from environment
# variables instead of a config file.
useEnvForSecrets: false

# Name of secret containing configuration for rig-sever. Set this if you use a
# special mechanism for generating secrets. If left unset, we will create the
# secret. If `useEnvForSecrets` is true we will use the secret as environment
# variables, otherwise we will mount the key `config.yaml` as a full
# rig-platform config file.
secretName: ""

# Rig holds configuration for the rig server. This is used for generating the
# rig-server config file. This configuration will be merged with any
# configuration found in the secret denoted by `secretName`. For detailed
# information about individual options, see the reference documentation at
# https://docs.rig.dev/api/config/v1alpha1#platformconfig.
rig:
  auth:
    requireVerification: false
    allowRegister: false
    sendWelcomeEmail: false
    secret: shhhdonotshare
    certificateFile: ""
    certificateKeyFile: ""
    sso:
      oidcProviders: {}
      # each key is considered a provider ID
      # oidc1:
      #   name: "My OIDC Provider"
      #   issuerURL: "https://accounts.google.com
      #   clientID: my-client-id
      #   clientSecret: my-client-secret
      #   allowedDomains:
      #     - mydomain.com
      #   groupsClaim: groups
      #   disableJITGroups: false
      #   groupMapping:
      #     OIDCProvidedGroup: MyRigGroup

  telemetryEnabled: true

  client:
    postgres:
      host: ""
      insecure: false
      user: postgres
      password: postgres
      database: rig
    mailjets: {}
    # each key is considered a mailjet ID
    # mailjet1:
    #   apiKey: ""
    #   secretKey: ""
    smtps: {}
    # each key is considered an smtp ID
    # smtp1:
    #   host: ""
    #   port: 587
    #   username: ""
    #   password: ""
    operator:
      baseUrl: http://rig-operator:9000
    slack: {}
    # each key is considered a slack workspace
    # slack1:
    #   token: ""
    git:
      auths: []
      # - url: ""
      #   urlPrefix: ""
      #   credentials:
      #     https:
      #       username: ""
      #       password: ""
      #     ssh:
      #       privateKey: ""
      #       privateKeyPassword: ""
      author:
        name: ""
        email: ""

  repository:
    store: postgres
    secret: ""

  email:
    id: ""
    from: ""

  logging:
    devMode: false
    level: info

  notification:
    projects: []
    environments: []

  clusters:
    {}
    # prod:
    #   type: k8s
    #   devRegistry:
    #     host: ""
    #     clusterHost: ""
    #   git:
    #     url: ""
    #     branch: ""
    #     pathPrefix: ""

  dockerRegistries: {}
  # each key is considered a registry host
  # registry1:
  #   username: ""
  #   password: ""
  #   email: ""
