.docMainContainer {
  display: flex;
  max-width: var(--doc-content-width);
}

@media (min-width: 1400px) {
  .docMainContainer {
    flex-grow: 1;
    width: calc(var(--doc-content-width) - var(--doc-sidebar-width));
  }

  .docMainContainerEnhanced {
    width: calc(var(--doc-content-width) - var(--doc-sidebar-hidden-width));
  }

  .docItemWrapperEnhanced {
    width: calc(
      var(--ifm-container-width) + var(--doc-sidebar-width)
    ) !important;
  }
}
