apiVersion: v1
kind: Service
metadata:
  name: {{ include "rig-operator.fullname" . }}
  labels: {{ include "rig-operator.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    {{- if .Values.config.webhooksEnabled }}
    - name: webhooks
      port: 9443
      targetPort: webhooks
      protocol: TCP
    {{- end }}
    - name: grpc
      port: 9000
      targetPort: http
      protocol: TCP
    - name: metrics
      port: 8080
      targetPort: metrics
      protocol: TCP
  selector: {{ include "rig-operator.selectorLabels" . | nindent 4 }}
