.themedImage {
  display: block;
  margin: auto auto 20px auto;
}

.themedImageZoom {
  display: none;
  border-radius: 8px !important;
}

[data-theme='light'] .themedImage--light {
  display: block;
}

[data-theme='dark'] .themedImage--dark {
  display: block;
}
