name: PR Close docs

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  close:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup rig
        uses: rigdev/setup-rig@v1
        with:
          host: ${{ vars.RIG_HOST }}
          client-id: ${{ vars.RIG_CLIENT_ID }}
          client-secret: ${{ secrets.RIG_CLIENT_SECRET }}
          version: v1.8.0-rc.2

      - name: Delete Environment
        run: |
          rig env delete "docs-pr-${{ github.event.number }}" -f
