name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.0

      - name: Cache tools
        uses: actions/cache@v3
        with:
          path: |
            tools/bin
          key: ${{ runner.os }}-tools-${{ hashFiles('tools/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-tools-

      - name: Run tests
        run: make gen build test

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "test-result.xml"
        if: always()

  cli-import-test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.0

      - name: Test cli import
        run: |
          go mod init example.com
          go mod edit -replace github.com/rigdev/rig=github.com/${{ github.event.pull_request.repository }}@${{ github.event.pull_request.head.sha }}
          echo -e 'package main\nimport (\n	_ "github.com/rigdev/rig/cmd/rig/cmd"\n)\nfunc main() {\n}\n' > main.go
          go mod tidy
          go run ./main.go
