apiVersion: rig.dev/v1alpha2
kind: Capsule
metadata:
  name: rig-platform
  annotations:
    rig.dev/recreate-strategy: "true"
spec:
  scale:
    horizontal:
      instances:
        min: {{ .Values.instances.min }}
        max: {{ .Values.instances.max }}
      {{- if .Values.instances.autoscaling.enabled }}
      cpuTarget:
        utilization: {{ .Values.instances.autoscaling.cpuUtilization }}
      {{- end }}
    vertical:
      {{- with .Values.resources }}
      {{ toYaml . | nindent 12 }}
      {{- end }}
  image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
  command: rig-platform
  args:
    - -c
    - /etc/rig/config.yaml
    {{- if not .Values.useEnvForSecrets }}
    - -c
    - /etc/rig/secret-config.yaml
    {{- end }}
  interfaces:
    - name: http
      port: {{ .Values.port }}
      liveness:
        path: /api/v1/status
      readiness:
        path: /api/v1/status
      {{- if .Values.ingress.enabled }}
      routes:
      - host: {{ .Values.ingress.host }}
        id: rig-platform
        {{- with .Values.ingress.annotations }}
        annotations: {{ toYaml . | nindent 10 }}
        {{- end }}
      {{- end}}
  files:
    - path: /etc/rig/config.yaml
      ref:
        kind: ConfigMap
        name: {{ include "rig-platform.fullname" . }}-config
        key: config.yaml
    {{- if not .Values.useEnvForSecrets }}
    - path: /etc/rig/secret-config.yaml
      ref:
        kind: Secret
        {{- if .Values.secretName }}
        name: {{ include "rig-platform.secretName" . }}
        {{- else }}
        name: {{ include "rig-platform.fullname" . }}-config
        {{- end }}
        key: config.yaml
    {{- end }}
  {{- if .Values.useEnvForSecrets }}
  env:
    from:
      - kind: Secret
        name: {{ include "rig-platform.secretName" . }}
  {{- end }}
