{{- if not .Values.secretName -}}
apiVersion: v1
kind: Secret
metadata:
  {{- if .Values.useEnvForSecrets }}
  name: {{ include "rig-platform.fullname" . }}
  {{- else }}
  name: {{ include "rig-platform.fullname" . }}-config
  {{- end }}
  labels: {{ include "rig-platform.labels" . | nindent 4 }}
data:
  {{- if .Values.useEnvForSecrets }}
  {{- with .Values.rig }}
  {{- if not (and .auth.jwt.certificate_file .auth.jwt.certificate_key_file) }}
  RIG_AUTH_JWT_SECRET: {{ .auth.jwt.secret | b64enc }}
  {{- end }}
  {{- if .client.postgres.password }}
  RIG_CLIENT_POSTGRES_PASSWORD: {{ .client.postgres.password | b64enc }}
  {{- end }}
  {{- if .client.mongo.password }}
  RIG_CLIENT_MONGO_PASSWORD: {{ .client.mongo.password | b64enc }}
  {{- end }}
  {{- if .client.minio.secret_access_key }}
  RIG_CLIENT_MINIO_SECRET_ACCESS_KEY: {{ .client.minio.secret_access_key | b64enc }}
  {{- end }}
  {{- if .client.mailjet.secret_key }}
  RIG_CLIENT_MAILJET_SECRET_KEY: {{ .client.mailjet.secret_key | b64enc }}
  {{- end }}
  {{- if .client.smtp.password }}
  RIG_CLIENT_SMTP_PASSWORD: {{ .client.smtp.password | b64enc }}
  {{- end }}
  {{- if .repository.secret.postgres.key }}
  RIG_REPOSITORY_SECRET_POSTGRES_KEY: {{ .repository.secret.postgres.key | b64enc }}
  {{- end }}
  {{- if .repository.secret.mongodb.key }}
  RIG_REPOSITORY_SECRET_MONGODB_KEY: {{ .repository.secret.mongodb.key | b64enc }}
  {{- end }}
  {{- if .cluster.git.credentials.https.password }}
  RIG_CLUSTER_GIT_CREDENTIALS_HTTPS_PASSWORD: {{ .cluster.git.credentials.https.password | b64enc }}
  {{- end }}
  {{- if .cluster.git.credentials.ssh.private_key }}
  RIG_CLUSTER_GIT_CREDENTIALS_SSH_PRIVATE_KEY: {{ .cluster.git.credentials.ssh.private_key | b64enc }}
  {{- end }}
  {{- if .cluster.git.credentials.ssh.private_key_password }}
  RIG_CLUSTER_GIT_CREDENTIALS_SSH_PRIVATE_KEY_PASSWORD: {{ .cluster.git.credentials.ssh.private_key_password | b64enc }}
  {{- end }}
  {{- end }}
  {{- else }}
  config.yaml: {{ include "rig-platform.config-secret" . | b64enc }}
  {{- end }}
{{- end }}
